<!-- begin profile -->
<div class="profile">
    <div class="profile-header">
        <!-- BEGIN profile-header-cover -->
        <div class="profile-header-cover"></div>

        <!-- <div *ngFor="let item of showUserProfileData"> -->

        <div class="profile-header-content" *ngIf="showUserProfileData">
            <!-- BEGIN profile-header-img -->
            <div class="profile-header-img">
                <img src="../assets/img/user/user-13.jpg" alt="">
            </div>
            <!-- END profile-header-img -->
            <!-- BEGIN profile-header-info -->
            <div class="profile-header-info">
                <h4 class="mt-0 mb-1">{{showUserProfileData.name}}</h4>
                <p class="mb-2">{{showUserProfileData.address}}</p>
                <a class="btn btn-xs btn-yellow">{{showUserProfileData.role}}</a>
            </div>
            <!-- END profile-header-info -->
            <!-- </div> -->
        </div>

        <!-- END profile-header-content -->
        <!-- BEGIN profile-header-tab -->
        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="#profile-student-about" class="nav-link active" data-toggle="tab">About </a></li>
            <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">Friends</a></li>
            <li class="nav-item"><a href="#profile-request" class="nav-link" data-toggle="tab">Request</a></li>


        </ul>
    </div>
</div>

<div class="profile-content">
    <div class="tab-content p-0">
        <div class="tab-pane fade show active" id="profile-student-about">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>About Me</h5>
                </div>
                <div class="card-body" *ngIf="showUserProfileData">
                    <div class="row">
                        <!-- Profile Picture -->
                        <div class="col-md-4">
                            <img src="path/to/profile-picture.jpg" class="img-fluid rounded-circle"
                                alt="Profile Picture">
                        </div>
                        <!-- Personal Information -->
                        <div class="col-md-8">
                            <h6>Personal Information</h6>
                            <p><strong>Name:</strong> {{showUserProfileData.name}}</p>
                            <p><strong>Email:</strong> {{showUserProfileData.email}}</p>
                            <p><strong>Roll No:</strong>{{ showUserProfileData.rollno}}</p>
                            <p><strong>Address:</strong> {{showUserProfileData.address}}</p>
                            <p><strong>Role:</strong> {{showUserProfileData.role}}</p>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-lg-6 mb-3 "><input type="text" name="Email" id="" placeholder="Enter the email"  class="form-control"></div>
                       <div class="col-lg-6 mb-3"><input type="text" name="rollno" id="" placeholder="Enter the Rollno" class="form-control"></div>
                       <div class="col-lg-6 mb-3"><input type="text" name="password" id="" placeholder="Enter the password" class="form-control"></div>
                       <div class="col-lg-6 mb-3"><input type="text" name="confirmPassword" id="" placeholder="Enter the Confirm Password" class="form-control"></div>
                       <div>
                        <button class="btn btn-primary my-2">Change Password</button>
                       </div>
                    </div>
                    <hr>

                </div>
            </div>


        </div>
        <!-- <div class="tab-pane fade show" id="profile-password">
          
            <div class="card">
                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-lg-6 mb-3 "><input type="text" name="Email" id="" placeholder="Enter the email"  class="form-control"></div>
                       <div class="col-lg-6 mb-3"><input type="text" name="rollno" id="" placeholder="Enter the Rollno" class="form-control"></div>
                       <div class="col-lg-6 mb-3"><input type="text" name="password" id="" placeholder="Enter the password" class="form-control"></div>
                       <div class="col-lg-6 mb-3"><input type="text" name="confirmPassword" id="" placeholder="Enter the Confirm Password" class="form-control"></div>
                       <div>
                        <button class="btn btn-primary my-2">Change Password</button>
                       </div>
                    </div>
                    <hr>

                </div>
            </div>

        </div> -->
        <!-- <div class="tab-pane fade " id="profile-post">
            <h5>Total Club </h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Club Status</th>
                            <th>Club Name</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of clubList  let i=index">
                            <td>{{i+1}}</td>
                            <td>{{item.clubStatus}}</td>
                            <td>{{item.clubName}}</td>

                            <td>
                                <button class="btn btn-primary" (click)="editClub(item._id)">Edit</button>
                                <button class="btn btn-outline-secondary mx-4"
                                    (click)="deleteClub(item._id)">Delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div> -->

    
        <div class="tab-pane fade" id="profile-request">
            <div class="table-responsive form-inline">
                <h5>hello</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Email</th>
                                <th>Request</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of clubList  let i=index">
                                <td>{{i+1}}</td>


                                <td>
                                    <button class="btn btn-primary" (click)="editClub(item._id)">Accept</button>
                                    <button class="btn btn-outline-secondary mx-4"
                                        (click)="deleteClub(item._id)">Reject</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>





        <div class="tab-pane fade show" id="profile-friends">
            <h4 class="m-t-0 m-b-20">User</h4>
            <!-- begin row -->
            <div class="row row-space-6">
                <!-- begin col-6 -->
                <div class="col-xl-4 col-lg-6 m-b-5 p-b-1">
                    <div class="p-10 bg-white rounded">
                        <div class="media media-xs overflow-visible align-items-center" *ngFor="let user of userData">

                            <a class="media-left" href="javascript:;">
                                <img src="../assets/img/user/user-1.jpg" alt="" class="media-object img-circle" />
                            </a>
                            <div class="media-body valign-middle">
                                <b class="text-inverse">{{ user.name }}</b>

                            </div>
                            <div class="media-body valign-middle text-right overflow-visible">
                                <div class="btn-group btn-group-sm dropdown">
                                    <a href="javascript:;" class="btn btn-default">{{user.role}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col-6 -->
                <!-- begin col-6 -->

                <!-- end col-6 -->
                <!-- begin col-6 -->

                <!-- end col-6 -->
                <!-- begin col-6 -->

                <!-- end col-6 -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>