<div id="" class="">

    <div class="row">

        <div class="col-xl-12">
            <div class="panel panel-inverse">
                <div class="panel-body">
                    <table id="data-table-combine" class="table table-striped table-bordered table-td-valign-middle">
                        <thead>
                            <tr>
                                <th width="1%">S.N</th>

                                <th class="text-nowrap">Date</th>
                                <th class="text-nowrap">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Present</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Absent</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <!-- end panel-body -->
            </div>
        </div>
        <!-- end col-10 -->
    </div>


    <div class="row">
        <!-- <div class="row mb-4  ">
            <div class="col-lg-4 ">
                <button class="btn btn-primary">Add Student</button>
            </div>
            <div class="col-lg-8">
                <input type="text" name="studentname" id="studentname" placeholder="Searchbar"
                    class="form-control col-lg-6">
            </div>
        </div> -->
        <div class="row">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="attendanceForm" (ngSubmit)="submitAttendance()">
                            <div *ngFor="let student of students">
                              <label>
                                <input type="checkbox" [formControlName]="student.id">
                                {{ student.name }}
                              </label>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Submit Attendance</button>
                          </form>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="panel panel-inverse">
                <div class="panel-body">
                    <table id="data-table-combine" class="table table-striped table-bordered table-td-valign-middle">
                        <thead>
                            <tr>
                                <th width="1%">S.N</th>

                                <th class="text-nowrap">Date</th>
                                <th class="text-nowrap">Name </th>
                                <th class="text-nowrap">Roll No </th>
                                <th class="text-nowrap">Faculty</th>
                                <th class="text-nowrap">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr class="odd gradeX">
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td>2081-02-15</td>
                                <td>Anish Pokharel</td>
                                <td>191741</td>
                                <td>Software</td>
                                <td>Present</td>

                            </tr>




                        </tbody>
                    </table>
                </div>
                <!-- end panel-body -->
            </div>
        </div>
        <!-- end col-10 -->
    </div>

</div>