
<h5>Semster Enroll </h5>
<div>
    <div class="col-lg-3">
        <input type="text" class="form-control" placeholder="Enter Semster Enrollment Key">
        <button class="btn btn-primary mt-3"> Enroll </button>
    </div>
    <div class="row my-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body text-center">
<h5>Subjects</h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">S.N</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Semster</th>
                        <th scope="col">Teacher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Network Programming</td>
                        <td>Eight</td>
                        <td>Anish</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Software Project Management</td>
                        <td>Eight</td>
                        <td>Artuio</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Project3</td>
                        <td>Eight</td>
                        <td>Tsadghgjk</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                
                <div class="card-body text-center">
<h5>Completed Semster  </h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">S.N</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Seven</td>
                        <td>Completed</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Six</td>
                        <td>Completed</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Five</td>
                        <td>Completed</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
        </div>
    </div>
</div>