
<h5>Semster Enroll </h5>
<div>
    <div class="col-lg-3">
        <input type="text" class="form-control" placeholder="Enter Semster Enrollment Key">
        <button class="btn btn-primary mt-3"> Enroll </button>
    </div>
    <div class="row my-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body text-center">
<h5>Subjects</h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                
                <div class="card-body text-center">
<h5>Completed Semster  </h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">S.N</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
        </div>
    </div>
</div>