<div class="container-fluid" *ngIf="userRole == 'student'">
  <div class="container-fluid"  >
    <h5>Courses</h5>
    <div class="row">
      <div class="col-12">
        <h5 class="text-center">My Courses</h5>
        <div class="row">
          <!-- Outer Loop for Course Items -->
          <div class="col-lg-12 col-md-12 col-sm-12 my-3" >
            <div class="card">
              <div class="card-body">
                <!-- <h5 class="card-title">{{ item.enrollment_key }}</h5> -->
                <!-- Inner Loop for Subjects -->
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 my-2"  *ngFor="let item of showCourseList.subjects">
                    <div class="card">
                      <img class="card-img-top" src="../../../../assets/img/card.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.code }}</p>
                        <a href="#" class="btn btn-primary">{{ item.credit }} Credits</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- //teacher -->



<div class="container-fluid" *ngIf="userRole !== 'student'">
  <div class=" mt-5">
    <h3>Join Course and Upload Syllabus</h3>
    <form enctype="multipart/form-data">
      <!-- Select Course -->
      <div class="form-group">
        <label for="courseSelect">Select Course:</label>
        <select class="form-control" id="courseSelect">
          <option>Course 1</option>
          <option>Course 2</option>
          <option>Course 3</option>
        </select>
      </div>
      <!-- Request to Join Course -->
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="joinCourseCheckbox">
        <label class="form-check-label" for="joinCourseCheckbox">Request to Join Course</label>
      </div>
      <!-- Upload Syllabus -->
      <div class="form-group">
        <label for="syllabusFile">Upload Syllabus:</label>
        <input type="file" class="form-control-file" id="syllabusFile">
      </div>
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="card">
    <div class="card-header">
      <h5>Course Details</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table text-center"  *ngFor="let item of showCourseList">
          <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Subject</th>
              <th scope="col">Credit</th>
              <th scope="col">Code</th>
              <th scope="col">Teacher</th>
              <!-- <th scope="col">Syllabus</th>
              <th scope="col">Model Question</th> -->
            </tr>
          </thead>
          <tbody *ngFor="let subject of item.subjects let i=index">
            <!-- Data rows will be dynamically added here -->
            <tr >
              <td>{{i+1}}</td>
              <td>{{ subject.name }}</td>
              <td>{{ subject.credit }}</td>
              <td>{{ subject.code }}</td>
              <td>{{ subject.teacher }}</td>
              <td class="text-center"><i class="fas fa-eye"></i></td>
              <!-- <td class="text-center"><i class="fas fa-eye align-middle">{{data.model_question}}</i></td> -->
            </tr>
            <!-- <tr *ngFor="let item of allListCourseData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.department || 'N/A' }}</td>
              <td>{{ item.subject.name || item.subject }}</td>
              <td>{{ item.credit || 'N/A' }}</td>
              <td>{{ item.code || 'N/A' }}</td>
              <td>{{ item.syllabus || 'N/A' }}</td>
              <td>{{ item.model_question || 'N/A' }}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>