<!-- <div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/img/card.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Course Name</h5>
      <p class="card-text">Course Describe</p>
      <a href="#" class="btn btn-primary">Teacher Name</a>
    </div>
</div>
</div> -->
<div class="container-fluid" *ngFor="let item of showCourseList">
  <div class="container-fluid">
    <h5>Courses</h5>
    <div class="row">
      <div class="col-12">
        <h5 class="text-center">My Courses</h5>
        <div class="row">
          <!-- Outer Loop for Course Items -->
          <div class="col-lg-12 col-md-6 col-sm-12 my-3" *ngFor="let item of showCourseList">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ item.enrollment_key }}</h5>
                <!-- Inner Loop for Subjects -->
                <div class="row">
                  <div class="col-lg-3 col-md-12 col-sm-12 my-2" *ngFor="let subject of item.subjects">
                    <div class="card">
                      <img class="card-img-top" src="../../../../assets/img/card.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <p class="card-text">{{ subject.code }}</p>
                        <a href="#" class="btn btn-primary">{{ subject.credit }} Credits</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- //teacher -->



  <div class="container-fluid">
    <div class=" mt-5">
      <h3>Join Course and Upload Syllabus</h3>
      <form enctype="multipart/form-data">
        <!-- Select Course -->
        <div class="form-group">
          <label for="courseSelect">Select Course:</label>
          <select class="form-control" id="courseSelect">
            <option>Course 1</option>
            <option>Course 2</option>
            <option>Course 3</option>
          </select>
        </div>
        <!-- Request to Join Course -->
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="joinCourseCheckbox">
          <label class="form-check-label" for="joinCourseCheckbox">Request to Join Course</label>
        </div>
        <!-- Upload Syllabus -->
        <div class="form-group">
          <label for="syllabusFile">Upload Syllabus:</label>
          <input type="file" class="form-control-file" id="syllabusFile">
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  
  </div>
  
  