<div class="container-fluid">
    <h2 class="mb-4">Student Details</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Roll No</th>
                <th>Email</th>
                <th>Semester</th>
                <th>Contact No</th>
                <th>Department</th>
                <th>Reason</th>
                <th>Photo</th>
                <th>ID</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rudra Nahawang Pandey</td>
                <td>191720</td>
                <td>rudnawang07gmail.com</td>
                <td>2</td>
                <td>989898989898</td>
                <td>BE Software</td>
                <td>dadfa</td>
                <td><img src="http://localhost:3200/uploads/1720212158222-Screenshot%202024-05-23%20103842.png" alt="Photo" width="100"></td>
                <td>6688de54da7ef5f40162a00a</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>