<h5>Assignment</h5>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-body text-center">
        <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
          <div class="col-lg-12 mb-4">
            <select class="form-select" formControlName="subject">
              <option value="" disabled selected>Select Subject</option>

              <option value="NP" selected>NP</option>
              <option value="SQA">SQA</option>
            </select>
          </div>
          <div class="col-lg-12 mb-4">
            <select class="form-select" formControlName="assignment">
              <option value="" disabled selected>Select Assignment
              <option>

              <option value="Assignment 1" selected>Assignment 1</option>
              <option value="Assignment 2">Assignment 2</option>
              <option value="Assignment 3">Assignment 3</option>
            </select>
          </div>
          <div class="col-lg-12 mb-4">
            <input type="file" class="form-control" formControlName="assignmentFile" />
          </div>


          <div class="col-lg-12 mb-4">
            <button type="submit" class="btn btn-primary mb-4" [disabled]="assignmentForm.invalid">Apply</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5>Assignment List</h5>
      </div>
      <div class="card-body">
        <table class="table ">
          <thead class="thead-dark">

            <tr>
              <th scope="col">S.N</th>
              <th scope="col">Assignment</th>
              <th scope="col">Subject</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Assignment No. 1</td>
              <td>Network Programming</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Assignment No. 2</td>
              <td>N P</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Assignment No. 2</td>
              <td>COA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="row">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5>Assignment Submited </h5>
      </div>

      <div class="card-body">
        <table class="table ">
          <thead class="thead-dark">

            <tr>
              <th scope="col">S.N</th>
              <th scope="col">Subject</th>
              <th scope="col">Assignment</th>
              <th scope="col">File</th>
              <th scope="col">Rollno </th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of showAssignmentAnswer let i = index ">
              <th scope="row">{{i+1}}</th>
              <td>{{item.subject}}</td>
              <td>{{item.assignment}}</td>
              <!-- <td>{{item.assignmentFile}}</td> -->
              <td>
                <!-- <a [href]="item.assignmentFile" target="_blank">{{getFileName(item.assignmentFile)}}</a> -->
                <a [href]="item.assignmentFile" target="_blank" download>
                  <!-- <i class="fas fa-file-download"></i> {{ getFileName(item.assignmentFile) }} -->
                  <i class="fas fa-file-download"></i> 
                </a>
              
              </td>
              <td>{{item.rollno}}</td>
              <td>Submited for Grading</td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>