<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card my-4">
                <div class="card-body  text-center">
                    <h5 class="card-title">
                      Feedback
                    </h5>
                    <form>
                        <div class="col-lg-12 mb-4">
                            <select class="form-select" id="feedback-group">
                                <option selected>Admin/Teacher/Student</option>
                                <option value="1">Admin</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                     
                        <div class="col-lg-12 mb-4">
                            <textarea class="form-control" placeholder="Feedback " id="feedback_about"
                                rows="3"></textarea>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <button type="button" class="btn btn-primary mb-4">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card my-4">
                <div class="card-title text-center">
                   <h5> Feedback Data</h5>
                   <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>