<!-- enrollment-form.component.html -->
<div class="container-fluid">
    <form (ngSubmit)="submitForm()">
        <div class="row">


            <div class="col-lg-12 ">
                <input type="text" class="form-control" name="enrollment-key" id="enrollment-key" placeholder="">
            </div>
            <div *ngFor="let subject of subjects; let i = index" class="input-container">

                <div class="row my-1">
                    <div class="col-lg-4 mb-4">
                        <input type="text" id="" class="col-lg-12 form-control" [(ngModel)]="subjects[i].name"
                            name="subjectName{{i}}" placeholder="Enter Subject Name">
                    </div>
                    <div class="col-lg-4 mb-4">
                        <input type="text" id="" class="col-lg-12 form-control" [(ngModel)]="subjects[i].credit"
                            name="subjectCredit{{i}}" placeholder="Enter Subject Credit">
                    </div>
                    <div class="col-lg-4 mb-4">
                        <input type="text" id="" class="col-lg-12 form-control" [(ngModel)]="subjects[i].code"
                            name="subjectCode{{i}}" placeholder="Enter Subject Code">
                    </div>
                </div>


            </div>
            <div>

                <button type="button" class="btn btn-primary" (click)="addInputField()">Add Subject</button>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>

    </form>

</div>