<!-- -->

<div>
    <div class="row">
        <div class="col-lg-3 ">
            <div class="card border ">
                <div class="id-card text-center my-4">
                    <img src="https://via.placeholder.com/100" alt="User Photo" class="img-fluid">
                    <h5>Anish Pokharel</h5>
                    <div class="info">
                        <p><strong>Roll No:</strong> 191741</p>
                        <p><strong>Department:</strong> Software Engineer</p>
                        <p><strong>Valid Until:</strong> 31/12/2024</p>
                    </div>
                    <div class="barcode">
                        <img src="https://barcode.tec-it.com/barcode.ashx?data=123456789" alt="Barcode" class="img-fluid">
                    </div>
                </div>
            </div> 

        </div>
        <div class="col-lg-9"></div>
    </div>
</div>