<!-- 


    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="">
                    <i class="bi bi-grid"></i>
                    <span>Dashboards</span>
                </a>
            </li>

        
            <li class="nav-heading">Pages</li>

            <li class="nav-item">
                <a class="nav-link " >
                    <i class="bi bi-person"></i>
                    <span>Semester Enroll</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-question-circle"></i>
                    <span>Attendance Record</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-envelope"></i>
                    <span>Course Enroll</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-card-list"></i>
                    <span>Purchase Course</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Setting</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-dash-circle"></i>
                    <span>Join Clubs</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-file-earmark"></i>
                    <span>Id Card </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-file-earmark"></i>
                    <span>Sponsorship </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-file-earmark"></i>
                    <span>Assignment </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-file-earmark"></i>
                    <span>Feedback </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-file-earmark"></i>
                    <span>Discussion </span>
                </a>
            </li>

        </ul>

    </aside> -->