 <!-- <a href="/login">Login</a> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">College Automation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <div class="main-div">
    <div class="navbar">
        <span>
            <h3>collegeAutomation</h3>
       </span>
       <span class="anchor-tag">
           <a class="navbar-brand" href="#">Home </a>
           <a class="navbar-brand" href="#">About</a>
           <a class="navbar-brand" href="#">Courses</a>
           <a class="navbar-brand" href="#">Trainers</a>
           <a class="navbar-brand" href="#">Events</a>
           <a class="navbar-brand" href="#">Pricing</a>
           <a class="navbar-brand" href="#">dropdown</a>
           <a class="navbar-brand" href="#">Contact</a>
           <button class="btn btn-primary btn1">Get Started</button>
       </span>
    </div>

    <div>
        <div class="container">
            <img src="../../../assets/img/university.jpg" alt="Snow" style="width:100%;">
            <div class="photo-div">
                <div class="centered"><h2>Learning Today,</h2>
                
                </div>
                <div class="centered-1"><h2>Leading Tomorrow</h2>
                    
                </div>
                <div class="centered-2">we are team of talented designers making website
                    with Bootstrap
                    
                </div>
                <div class="centered-3">
                    <button class="photo-div-button btn btn-primary btn1">Get Started</button>
                </div>
            </div>
           
        </div>
        <div class="about-us">
            <div>
                <h4 class="about-heading">About us</h4>
                <i>list</i>
                <ul>
                    <li>In the domain of higher education, the implementation of the college automation system
                        is reshaping the roles and responsibilities of key stakeholders. These systems enhance
                        efficiency and transparency, benefiting college administrators, faculty members, students,
                        and general secretaries.</li>
                    <li>In the domain of higher education, the implementation of the college automation system
                        is reshaping the roles and responsibilities of key stakeholders. These systems enhance
                        efficiency and transparency, benefiting college administrators, faculty members, students,
                        and general secretaries.</li>
                    <li>In the domain of higher education, the implementation of the college automation system
                        is reshaping the roles and responsibilities of key stakeholders. These systems enhance
                        efficiency and transparency, benefiting college administrators, faculty members, students,
                        and general secretaries.</li>
                </ul>
                <button class="btn btn-primary btn1">Read More-></button>
            </div>
            <div>
                <img src="../../../assets/img/university3.jpg" alt="Snow" height="250" width="">
            </div>
        </div>
        <div class="number">
            <div class="number-1">
                <h3>1232</h3>
                <span>Students</span>
            </div>
            <div class="number-1">
                <h3>1232</h3>
                <span>Students</span>
            </div>
            <div class="number-1">
                <h3>1232</h3>
                <span>Students</span>
            </div>
            <div class="number-1">
                <h3>1232</h3>
                <span>Students</span>
            </div>
        </div>
        <div>
            <div class="div-4">
                <span>a</span>
                <span>b</span>
                <span>c</span>
                <span>d</span>
            </div>
            <div class="div-8">
                <div class="div-4">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div>
                <div class="div-4">
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                </div>
                <div class="div-4">
                    <span>9</span>
                    <span>10</span>
                    <span>11</span>
                    <span>12</span>
                </div>
            </div>
        </div>
        <div class="nav-links">
               <div>
               
                <h4>Contact us</h4>
                
                <b>Phone:</b>1234567890<br>
                <b>Email:</b>collegemail.com
                <div class="contact-us">
                    <button>x</button>
                    <button>x</button>
                    <button>x</button>
                    <button>x</button>
                </div>
               </div>
               <div class="useful-links">
                  <span><h5>Useful Links</h5></span> 
                  <span>Home</span>
                  <span>Home</span>
                  <span>Home</span>
                  <span>Home</span>
                  <span>Home</span>
               </div>
               <div class="useful-links">
                <span><h5>Useful Links</h5></span> 
                <span>Home</span>
                <span>Home</span>
                <span>Home</span>
                <span>Home</span>
                <span>Home</span>
                </div>
             
        </div>
        <div class="copyright">
            <div>
                Copyright <b>collegeAutomation</b> All Rights Reserved
            </div>
            <div>
                Designed by <span class="color:green">BootstrapMade</span>
            </div>
        </div>
    </div>
     
        
    
   
</div>

        </li>
        
       
      </ul>
     
    </div>
  </nav>


  <section class="container-fluid">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="title">
                <span>L</span>
                <span>A</span>
                <span>N</span>
                <span>D</span>
                <span>I</span>
                <span>N</span>
                <span>G</span>
                <span>P</span>
                <span>A</span>
                <span>G</span>
                <span>E</span>
            </div>
            <p class="subtitle">Coming Soon</p>
        </div>
    </div>
  </section>