
<div>
  <div class="navbar-1">
    <div>
      <h3 class="heading">
        <span class="heading-1">nc</span>IT</h3>
    </div>
    <div class="navbar-1-1">
      <div > 
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div> 
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
    <div class="navbar-btn">
      <div><button class="btn btn-outline-success">Login</button></div>
      <div><button class="btn btn-outline-success bg-success btn-2">Register</button></div>
    </div>
  </div>

  <div class="navbar-2 bg-success">
    <div></div>
    <div><a class="navbar-2-2" href="">Home</a></div>
    <div><a class="navbar-2-2" href="">Services</a></div>
    <div><a class="navbar-2-2" href="">Contact</a></div>
    <div><a class="navbar-2-2" href="">Help</a></div>
    <div><a class="navbar-2-2" href="">About Us</a></div>
  </div>

  <!--Body section-->
  <div>
  

   
          <!--Introduction-->
    <div class="introduction container">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src=".../../../assets/image/university-6699377_640.png" height="500px" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>College Automation</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/image/university2.png" height="500px"class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/image/university3.png" height="500px" width="500px"class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!--About Us-->
    <div class=" container about-us">
      <div class="about-us-1">
        <div><h3>About Us</h3></div>

        <div class="my-4">In the domain of higher education, the implementation of college automation 
          systems is reshaping the roles and responsibilities of key stakeholders. These 
          systems are very helpful to college administrators, who may use them to handle 
          student information, schedule classes, coordinate faculty, and keep an eye on 
          finances and performance of students and teachers. The automation of 
          administrative duties facilitates informed decision-making and efficient 
          resource allocation by administrators, hence improving institutional management.
           Automation simultaneously improves the academic experience for students by 
           streamlining the process of registering for classes ,regular feedback, 
           assignment  and getting access to real-time academic updates and timetables.

           </div>

        <div>Automation technologies save up faculty members time to focus more on teaching
           and academic development by streamlining repetitive duties like grade management, 
           attendance tracking, and class scheduling. In order to improve departmental operational
            efficiency and institutional communication, general secretaries also use automation 
            for effective data management, event planning, and resource allocation. In the end, 
            integrating college automation technologies promotes creativity, cooperation, and transparency,
             ushering in a new era of efficiency and productivity in educational settings.

        </div> 
        <div><button class="btn-success my-4 learn-more">LEARN MORE</button></div>
      </div>
      
      <div><img src="../../../assets/image/university3.png"></div>
    </div>
    <!--Contact us-->
    <div class="my-5 text-center">
      <div class="container contact-us">
        <h3 class="content-title">Contact Us</h3>
        <p class="content-desc">
          The way to get started is to quit talking and begin doing
        </p>
        <!-- begin row -->
        <div class="row">
          <!-- begin col-6 -->
          <div
            class="col-lg-6"
            data-animation="true"
            data-animation-type="fadeInLeft"
          >
            <h3>
              If you have a project you would like to discuss, get in touch with us.
            </h3>
            <p>
              Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a
              ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis
              libero dolor a purus.
            </p>
            <p>
              <strong>SeanTheme Studio, Inc</strong><br />
              NCIT, Balkumari<br />
              Lalitpur, Nepal<br />
              P: +977 1234567890<br />
            </p>
            <p>
              <span class="phone">+977 1234567890</span><br />
              <a href="ncit@gmail.com" class="text-success website">ncit.com.np</a>
            </p>
          </div>
          <!-- end col-6 -->
          <!-- begin col-6 -->
          <div
            class="col-lg-6 form-col"
            data-animation="true"
            data-animation-type="fadeInRight"
          >
          <div class="">
            <form class="form-horizontal ">
              <div class="form-group row m-b-15 ">
                <label class="col-form-label col-md-3 text-md-right"
                  ><strong>Name</strong><span class="text-primary"></span></label>
                <div class="col-md-9">
                  <input type="text" class="form-control" placeholder="" 
                  (mouseover)="showMessagen()" 
                  (mouseleave)="hideMessagen()"
                  (input)="onInputChange($event)"/>
                  <p class="text-blue">enter your name</p>
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3 text-md-right"
                  ><strong>Email</strong><span class="text-primary"></span></label
                >
                <div class="col-md-9">
                  <input type="text" class="form-control" (mouseover)="showMessagee()" (mouseout)="hideMessagee() "/>
                  <p class="text-blue">enter your email</p>
    
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3 text-md-right"
                  ><strong>Message </strong><span class="text-primary"></span></label
                >
                <div class="col-md-9">
                  <textarea class="form-control" rows="10" placeholder="" ></textarea>
                  
    
                </div>
              </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-3 text-md-right"></label>
                <div class="row">
                  <div class="col-md-10 p-2 col-md-4 col-md-push-8">
                    <button  type="submit" class="btn col-md-4 col-md-pull-8 btn-success text-center">
                      Send Message
                    </button>
      
                  </div>
                  <div class="col-md-12 col-md-pull-4">
                    If you aren't register??<a class="text-success" href="registration-page" 
                    router-link="/registration-page">click here</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
            
          </div>
        </div>
      </div>
    </div>
     <!--Footer section-->
    <footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <section class="mb-4">
        <p>
          
          College automation is a concept based on automating the challenges of college academic
          administration. Fundamentally, the website is developed to provide administration as an admin, 
          Student, Faculty member and General Secretary a medium to communicate and administrative 
          procedures and raising general productivity. 
  
  
        </p>
      </section>
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/home" class="text-success nav-link">Home</a>
              </li>
              <li>
                <a href="/login-page" class="text-success nav-link">Services</a>
              </li>
             
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/Booking-Form" class=" text-success nav-link">Contact</a>
              </li>
              <li>
                <a href="/Booking-slip"class="text-success nav-link">Help</a>
              </li>
              <li>
                <a href="/payment" class="text-success nav-link">About Us</a>
              </li>
              
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/user" class="text-success nav-link">login</a>
              </li>
              <li>
                <a href="/bus-details" class="text-success nav-link">register</a>
              </li>
             
            </ul>
          </div>
        </div>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white">NCIT</a>
    </div>
    </footer>

  </div>

</div>

<!-- <a href="/login">Login</a>  -->





