<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-teal">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Total Student</div>
                    <div class="stats-number">5000</div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 70.1%;"></div>
                    </div>
                    <div class="stats-desc">Better than last week (70.1%)</div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Total Teacher</div>
                    <div class="stats-number">190</div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 40.5%;"></div>
                    </div>
                    <div class="stats-desc">Better than last week (40.5%)</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-indigo">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Club/Parties</div>
                    <div class="stats-number">9</div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 76.3%;"></div>
                    </div>
                    <div class="stats-desc">Better than last week (76.3%)</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-dark">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Total Subjects</div>
                    <div class="stats-number">3900</div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 54.9%;"></div>
                    </div>
                    <div class="stats-desc">Better than last week (54.9%)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <h5 class="card-title text-center">
                    Create User
                </h5>
                <div class="card-body">

                    <form [formGroup]="userForm" (ngSubmit)="createUser()" class="row">

                        <div class="col-lg-6 mb-4 ">
                            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name"
                                required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="email" id="email" formControlName="email" class="form-control"
                                placeholder="Email" required>
                        </div>
                        <!-- <div class="col-lg-6 mb-4">
                    <input type="number" id="rollno" formControlName="rollno" class="form-control" placeholder="Roll Number"
                        required>
                </div> -->

                        <div class="col-lg-6 mb-4">
                            <input type="password" id="password" formControlName="password" class="form-control"
                                placeholder="Password" required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                                class="form-control" placeholder="Confirm Password" required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="text" id="address" formControlName="address" class="form-control"
                                placeholder="Address" required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <select id="role" class="form-control" formControlName="role">
                                <option value="student" selected>Student</option>
                                <option value="faculty">Faculty</option>
                                <option value="secretary">Secretary</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="card my-4">
                <div class="card-body  text-center">
                    <h5 class="card-title">
                        Create Department
                    </h5>
                    <form [formGroup]="createFacultyForm" (ngSubmit)="createFaculty()">
                        <div class="col-lg-12 mb-4">
                            <input type="text" formControlName="createFaculty" class="form-control"
                                placeholder="Create Faculty">

                        </div>
          
                        <div class="col-lg-12 mb-4">

                            <input type="text" formControlName="hod" class="form-control"
                                placeholder="Head of Department">
                        </div>

                        <div class="col-lg-12 mb-4">
                            <button type="sunmit" class="btn btn-primary mb-4">Add Department</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card my-4">
                <div class="card-body  text-center">
                    <h5 class="card-title">
                        Create Club
                    </h5>
                    <form [formGroup]="clubForm" (ngSubmit)="createClub()">
                        <div class="col-lg-12 mb-4">
                            <!-- <input type="text" formControlName="clubStatus" class="form-control"
                                placeholder="Club Status"> -->

                                <select id="clubStatus" class="form-control" formControlName="clubStatus">
                                    <option value="Non-Political" selected >Non-Political</option>
                                    <option value="Political">Political</option>
                                </select>
                        </div>
                        <div class="col-lg-12 mb-4">

                            <input type="text" formControlName="clubName" class="form-control" placeholder="Club Name">
                        </div>

                        <div class="col-lg-12 mb-4">
                            <button type="sunmit" class="btn btn-primary mb-4">Add Club</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-fluid">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">SN</th>
                        <th scope="col">Department</th>
                        <th scope="col">Head Of Department</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of departmentList; let i= index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.createFaculty}}</td>
                        <td>{{item.hod}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="editDeaprtment(item._id)">Edit</button>
                            <button class="btn btn-outline-primary mx-2" (click)="deleteDepartment(item._id)">Delete</button>
                        </td>
                       
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>