<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-teal">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-user-graduate fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Total Student</div>
                    <div class="stats-number">{{showStudentCount}}</div>
                 
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 "  >
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-chalkboard-teacher fa-fw"></i></div>
                <div class="stats-content ">
                    <div class="stats-title">Total Teacher</div>
                    <div class="stats-number">{{showTeacherCount}}</div>
                   
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-indigo">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-users fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Club/Parties</div>
                    <div class="stats-number">{{showSecretaryCount}}</div>
                   
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-dark">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-book fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Total Subjects</div>
                    <div class="stats-number">{{subjectListCount}}</div>
                 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-title text-center">
                    Create User
                </h5>
                <div class="card-body">

                    <form [formGroup]="userForm" (ngSubmit)="createUser()" class="row">

                        <div class="col-lg-6 mb-4 ">
                            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name"
                                required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="email" id="email" formControlName="email" class="form-control"
                                placeholder="Email" required>
                        </div>
                      
                        <div class="col-lg-6 mb-4">
                            <input type="password" id="password" formControlName="password" class="form-control"
                                placeholder="Password" required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                                class="form-control" placeholder="Confirm Password" required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="text" id="address" formControlName="address" class="form-control"
                                placeholder="Address" required>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <select id="role" class="form-control" formControlName="role">
                                <option value="" disabled selected>Select Role</option>
                                <option value="student" >Student</option>
                                <option value="faculty">Faculty</option>
                                <option value="secretary">Secretary</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                        <div class="col-lg-6 mb-4" *ngIf="userForm.get('role')?.value === 'student'">
                            <input type="number" id="rollno" formControlName="rollno" class="form-control" placeholder="Roll Number"
                                required>
                        </div>
        
                        <div class="">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
            
        </div>




    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                      
                        <thead class="thead-dark" >
                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of showTeacherData; let i= index">
                                <th >{{i+1}}</th>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>
                                    <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-outline-primary mx-2"
                                        ><i class="fas fa-trash-alt"></i></button>
                                </td>
    
                            </tr>
    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>