<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5>Assignment Add</h5>
                    <form >
                        <div class="col-lg-12 mb-4">
                            <select class="form-select" formControlName="subject">
                                <option value="NP">NP</option>
                                <option value="SQA">SQA</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <select class="form-select" formControlName="assignment">
                                <option value="Assignment 1">Assignment 1</option>
                                <option value="Assignment 2">Assignment 2</option>
                                <option value="Assignment 3">Assignment 3</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <input type="file" class="form-control" formControlName="assignmentFile" />
                        </div>
                        <div class="col-lg-12 mb-4">
                            <input type="text" class="form-control" formControlName="rollno" placeholder="Roll No" />
                        </div>
                        <div class="col-lg-12 mb-4">
                            <input type="text" class="form-control" formControlName="remarks" placeholder="Remarks" />
                        </div>
                        <div class="col-lg-12 mb-4">
                            <button type="submit" class="btn btn-primary mb-4" [disabled]="assignmentForm.invalid">Apply</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="my-4">
                        Assignment List
                    </h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Subjet Name </th>
                                <th scope="col">Assignment</th>
                                <th scope="col">Remarks</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>DBMS</td>
                                <td>Assignment 1</td>
                                <td>dfghjxcgh Cghjk</td>
                                <td>Assignment1.pdf</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5>Model Question</h5>
                    <form>

                        <div class="col-lg-12 mb-4">
                            <select class="form-select" id="model-question-list">
                                <option selected>Model Question</option>
                                <option value="1">Model Question 1</option>
                                <option value="2">Model Question 2</option>
                                <option value="2">Model Question 3</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <input type="file" class="form-control" id="model-question-choose"
                                placeholder="Choose File" />
                        </div>
                        <div class="col-lg-12 mb-4">
                            <input type="text" class="form-control" id="subject-name" placeholder="Subject Name" />
                        </div>
                        <div class="col-lg-12 mb-4">
                            <button type="button" class="btn btn-primary mb-4">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="my-4">
                        Model Question
                    </h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Sujbect Name </th>
                                <th scope="col">Question</th>

                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                x <td>.pdf</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
</div>