<div class="container-fluid">


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form action="" class="row">
                        <div class="col-lg-6 mb-4">
                            <input type="text" name="vacancyPosition" id="vacancyPosition"
                                class="col-lg-12 form-control" placeholder="Position">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="text" name="vacancyExperience" id="vacancyPosition"
                                class="col-lg-12 form-control" placeholder="Experience">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="text" name="vacancyLevel" id="vacancyPosition" class="col-lg-12 form-control"
                                placeholder="Level">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="text" name="vacancySubject" id="vacancyPosition" class="col-lg-12 form-control"
                                placeholder="Subject">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="text" name="vacancyQualification" id="vacancyPosition"
                                class="col-lg-12 form-control" placeholder="Qualification">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <select id="time" class="form-control" Name="time" placeholder="Time">
                                <option value="fullTime" selected>Full Time</option>
                                <option value="partTime" selected>Part Time</option>

                            </select>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <input type="text" name="vacancySalary" id="vacancyPosition" class="col-lg-12 form-control"
                                placeholder="Salary">
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ">
            <div class="card">

                <div class="card-body">
                    <table class="table table-border">
                        <thead>
                            <tr>

                                <th class="text-nowrap">Rendering engine</th>
                                <th class="text-nowrap">Browser</th>
                                <th class="text-nowrap">Platform(s)</th>
                                <th class="text-nowrap">Engine version</th>
                                <th class="text-nowrap">CSS grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Trident</td>
                                <td>Internet Explorer 4.0</td>
                                <td>Win 95+</td>
                                <td>4</td>
                                <td>X</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Trident</td>
                                <td>Internet Explorer 5.0</td>
                                <td>Win 95+</td>
                                <td>5</td>
                                <td>C</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>Trident</td>
                                <td>Internet Explorer 5.5</td>
                                <td>Win 95+</td>
                                <td>5.5</td>
                                <td>A</td>
                            </tr>
                            <tr class="even gradeA">
                                <td>Trident</td>
                                <td>Internet Explorer 6</td>
                                <td>Win 98+</td>
                                <td>6</td>
                                <td>A</td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

                <div class="card-body">
                    <table class="table table-border">
                        <thead>
                            <tr>

                                <th class="text-nowrap">Rendering engine</th>
                                <th class="text-nowrap">Browser</th>
                                <th class="text-nowrap">Platform(s)</th>
                                <th class="text-nowrap">Engine version</th>
                                <th class="text-nowrap">CSS grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Trident</td>
                                <td>Internet Explorer 4.0</td>
                                <td>Win 95+</td>
                                <td>4</td>
                                <td>X</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Trident</td>
                                <td>Internet Explorer 5.0</td>
                                <td>Win 95+</td>
                                <td>5</td>
                                <td>C</td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>Trident</td>
                                <td>Internet Explorer 5.5</td>
                                <td>Win 95+</td>
                                <td>5.5</td>
                                <td>A</td>
                            </tr>
                            <tr class="even gradeA">
                                <td>Trident</td>
                                <td>Internet Explorer 6</td>
                                <td>Win 98+</td>
                                <td>6</td>
                                <td>A</td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</div>